node_modules
*.log
.DS_Store
Thumbs.db

/app/spec.js
/build/
/releases/
/tmp/


electron-app/node_modules
electron-app/*.log
electron-app/.DS_Store
electron-app/Thumbs.db

electron-app/app/spec.js
electron-app/build/
electron-app/releases/
electron-app/tmp/